{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <!--save your time-->
<section class="my-lg-9 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12">
                <div class="text-center mb-xl-7 mb-5 mx-xl-8">
                    <h2 class="mb-0">Save your time and money by choosing
                        Our highly performant team.</h2>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="/static/images/generals-quarters.png"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" 
                                width="128" 
                                height="128/>/>
                        </figure>

                        <h5 class="mb-1">Jitu Chauhan</h5>
                        <small>Co-Founder & CEO</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="/static/images/tray.png"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" 
                                width="16" height="16/>
                        </figure>

                        <h5 class="mb-1">Anita Parmar</h5>
                        <small>Product Manager</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="../assets/images/avatar/avatar-1.jpg"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" />
                        </figure>

                        <h5 class="mb-1">Sandip Chauhan</h5>
                        <small>Developer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="../assets/images/avatar/avatar-2.jpg"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" />
                        </figure>

                        <h5 class="mb-1">Manasvi Suthar</h5>
                        <small>Co-Founder</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="../assets/images/avatar/avatar-6.jpg"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" />
                        </figure>

                        <h5 class="mb-1">Shweta Singh</h5>
                        <small>Sales Team Lead</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="../assets/images/avatar/avatar-4.jpg"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" />
                        </figure>

                        <h5 class="mb-1">Rohan Kacha</h5>
                        <small>UX Designer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="../assets/images/avatar/avatar-7.jpg"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" />
                        </figure>

                        <h5 class="mb-1">Vallabh Sompura</h5>
                        <small>Product Designer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card text-center card-lift">
                    <div class="card-body py-5">
                        <figure class="mb-4">
                            <img src="../assets/images/avatar/fallback.jpg"
                                alt="avatar"
                                class="avatar avatar-xxl rounded-circle" />
                        </figure>

                        <h5 class="mb-1">Your Pic</h5>
                        <a href="#"
                            class="icon-link icon-link-hover fw-semicold">
                            Join the team
                            <svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--save your time-->
            </div>
        </div>
    </div>
{{end}}
